<% if settings.giphy.enable %>
    <div id="lcb-giphy" class="lcb-giphy modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="validate" action="./messages" method="POST">
                    <div class="modal-header">
                        <h4 class="modal-title"><i class="icon-edit"></i> <$ __('Giphy') $></h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="<$ __('Close') $>"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-form-label col-sm-6"><$ __('Search') $></label>
                            <div class="col-sm-11">
                                <input class="form-control search-giphy" name="search" />
                                <p class="form-text">
                                    Powered by <a href="http://giphy.com/" target="_blank">Giphy</a>
                                </p>
                            </div>
                        </div>
                        <div class="giphy-results">
                            <ul></ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<% endif %>
